html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size:16px;
  font-family:"Arial Rounded MT Bold", Futura, Helvetica, Verdana, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

button:focus {
  outline:none;
}

.page {
  padding-top:50px;
  padding-bottom:50px;  
  border-bottom:1px solid silver;
  border-top:1px solid silver;
}

label {
  font-size:1.25rem;
  color:rgba(0, 0, 0, 0.5);
}

input[type=text] {
  width:100%;
  font-size:1.5rem;
  height:2rem !important;
}

#overlay {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display:none;
}

#circle {
  position:absolute;
  display:table;
  top:50%;
  left:50%;
  width:600px;
  height:500px;
  border:1px solid rgb(100, 100, 100);
  border-radius:70px;
  margin:-250px -300px 0;
  text-align:center;
  -webkit-transition:background-color 0.75s linear;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 10px 0px;
}

#circle-content {
  position:absolute;
  top:50%;
  left:50%;
  top:35px;
  left:50px;
  width:500px;
  text-align:left;
  opacity:0;
  -webkit-transition:opacity 0.75s linear;  
}

#circle-content.expanded {
  opacity:1;
  -webkit-transition:opacity 0.75s linear;
}

#circle-topic {
  display:none;
  vertical-align:middle;
  width:600px;  
  text-align:center;
  position:relative;
}

#circle-topic.expanded {
  display:table-cell;
}

#topic-text {
  font-size:4rem;
  line-height:5rem;
  color:rgba(0, 0, 0, 0.5);
  text-shadow:1px 1px rgba(255, 255, 255, 0.3);
}

#topic-goal {
  font-size:2rem;
  line-height:2.5rem;
  color:rgba(0, 0, 0, 0.25);
  text-shadow:1px 1px rgba(255, 255, 255, 0.3);  
}


.big-button {
  color:#39f;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
  border-radius:20px;
  font-family:"Arial Rounded MT Bold", Futura, Helvetica, Verdana, sans-serif;
  font-size:2rem;
  border:none;
  text-align:center;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 5px 0px;  
  padding:15px;
}

.big-button:active {
  box-shadow:none;
  margin-top:5px;
}

.big-button:hover {
  background: rgba(255, 255, 255, 0.25);
}

#menu-modal i {
  font-size:3rem;
}

.uk-modal .big-button {
  background: rgba(102, 153, 204, 0.5);
  box-shadow: rgba(102, 153, 204, 1) 0px 5px 0px;
  display:block;
  font-size:1.5rem;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
}

.uk-modal .big-button:hover {
  background: rgba(102, 153, 204, 0.25);
}

.uk-modal .big-button:active {
  box-shadow:none;
  position:relative;
  top:5px;
}

.uk-modal .big-button:disabled {
  background: rgba(0, 0, 0, 0.05);
  color:rgba(0, 0, 0, 0.2);
  box-shadow:rgba(0, 0, 0, 0.1) 0px 5px 0px;              
}

.big-button:hover:disabled {
  
}

#play {
  top:20px;
  right:10px;
  min-width:100px;
  position:absolute;
}

#done {
  top:20px;
  right:10px;
  position:absolute;
  min-width:100px;
  display:none;
}

#menu {
  left:10px;
  position:absolute;
  top:20px;
  min-width:100px;
}

#board {
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
  -webkit-transition:background-color 0.75s linear;
}

.text-input {
  background:rgba(255, 255, 255, 0.5) !important;
  border:1px solid rgba(0, 0, 0, 0.25) !important;
  font-family:"Arial Rounded MT Bold", Futura, Helvetica, Verdana, sans-serif;
  padding-left:10px;
}

.radio {
  width:50px;
  height:50px;
  border:2px solid rgba(0, 0, 0, 0.1);
  padding:0px;
  margin:6px;
}

.radio.selected {
  -webkit-transition:outline 0.2s linear;  
  outline:6px solid rgba(0, 0, 0, 0.25);
  width:50px;
  height:50px;
}

.color0 {
  background-color:white;
}

.color1 {
  background-color:rgb(242, 119, 122);
}
.color2 {
  background-color:rgb(249, 145, 87);
}
.color3 {
  background-color:rgb(254, 204, 102);
}
.color4 {
  background-color:rgb(153, 204, 153);
}
.color5 {
  background-color:rgb(102, 204, 204);
}
.color6 {
  background-color:rgb(102, 153, 204);
}
.color7 {
  background-color:rgb(204, 153, 204);
}


.color1 {
  
}

#symbol-container i {
  font-size:3rem;
  display:inline-block;
  line-height:3rem;
}

#symbol-container button {
  font-size:2rem;
  border:none;
  background-color:rgba(0, 0, 0, 0.2);
  width:50px;
  height:50px;
}

#symbol-container button.selected {
  background-color:rgba(255, 255, 255, 0.2);
  -webkit-transition:background-color 0.2s linear;    
}

.symbol {
  width:70px;
  height:70px;
  font-size:70px;
  color:rgba(0, 0, 0, 0.5);
  text-shadow:1px 1px rgba(255, 255, 255, 0.4);  
}

button.row {
  width:100%;
}

.state {
  font-weight:bold;
}

#records-modal .uk-modal-dialog {
  width:90%;
}
