html {
  font-size:18px;
  font-family:Futura, Helvetica, Verdana, sans-serif;
}

.title {
  font-size:3rem;
  line-height:initial;
  padding:20px;
  text-align:center;
  font-family:Futura;
}

.page {
  padding-top:50px;
  padding-bottom:50px;  
  border-bottom:1px solid silver;
  border-top:1px solid silver;
}

label {
  font-size:1.5rem;
}

input[type=text] {
  width:100%;
  font-size:1.5rem;
  height:2rem !important;
}

#play {
  display:block;
  margin:auto;
  margin-top:40px;
  background-color:rgb(102, 204, 204);
  color:white;
  font-family:Futura, Helvetica, Verdana, sans-serif;
  font-size:3rem;
  border:none;
  border-radius:4px;
}

.color {
  -webkit-appearance:none;  
  border:none;
  width:40px;
  height:40px;
}

.color:checked {
  border:3px solid black;
}

.color0 {
  background-color:white;
  border:1px solid silver;
}
.color1 {
  background-color:rgb(242, 119, 122);
}
.color2 {
  background-color:rgb(249, 145, 87);
}
.color3 {
  background-color:rgb(254, 204, 102);
}
.color4 {
  background-color:rgb(153, 204, 153);
}
.color5 {
  background-color:rgb(102, 204, 204);
}
.color6 {
  background-color:rgb(102, 153, 204);
}
.color7 {
  background-color:rgb(204, 153, 204);
}


.color1 {
  
}
